<html lang="en" ng-app="eventsApp">

<head>
    <meta charset="utf-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>

    <div class="container-fluid" ng-controller="EditProfileController">
        <form name="profileForm">
            <div class="row">
                <div class="col-sm-3">
                    <img ng-src="{{ getGravatarUrl(user.emailAddress) }}" />
                </div>
                <div class="col-sm-3">
                    <div class='form-group'>
                        <label for="userName">User Name:</label>
                        <input focus id="userName" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Username" ng-model="user.userName"
                            class='form-control' />
                        <label for="password">Password:</label>
                        <input id="password" required type="password" placeholder="Password" ng-model="user.password" class="form-control" />
                    </div>
                    <div style="margin-top:15px">
                        <div class='form-group'>
                            <label for="name">Name:</label>
                            <input id="name" type="text" placeholder="Name" ng-model="user.name" class="form-control" />
                            <label for="emailAddress">Email Address:</label>
                            <input id="emailAddress" type="email" placeholder="Email Address" ng-model="user.emailAddress" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-group">
                    <label for="bio">Bio:</label>
                    <textarea id="bio" rows="6" style="width:97%; color:#52575c" placeholder="Bio" ng-model="user.bio" class="form-control"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <button type="button" class="btn btn-default pull-left">Cancel</button>
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                </div>
            </div>
        </form>
    </div>


    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="lib/underscore-1.4.4.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/EditProfileController.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services/GravatarUrlBuilder.js"></script>

</body>

</html>